.image img {
  width: 50%;
  height: 150px;
  border-radius: 10px;
  transition: 0.7s;
}
.image img:hover {
  width: 75%;
  height: 200px;
}
.service-cards {
  /* border: 1px solid red; */
  box-shadow: 10px 10px 20px gray;
  padding: 20px;
  width: 80%;
}
.services-container {
  height: 700px;
  background-color: rgb(245, 243, 243);
  /* z-index: -1; */
  margin: 0;
  padding: 0;
  margin-top: 15px;
  transition: 0.8s;
}
.services-container:hover {
  margin-top: 0px;
}
.service {
  background-color: rgb(245, 243, 243);
  margin: 0;
  padding: 0;
}
.service-row {
  background-color: rgb(245, 243, 243);
  margin: 0;
  padding: 0;
}
.service-main {
  background-color: rgb(245, 243, 243);
}
